# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/tasks.json
.vscode/settings.json
.vscode/c_cpp_properties.json

Sequential+OMP/sequential+omp
Sequential+OMP/sequential+omp.dSYM/*

Multithreading/multithreading
Multithreading/multithreading.dSYM/*

MPI/mpi

gRPC/Client/bin
gRPC/Client/obj
gRPC/Client/.vscode

gRPC/Service/bin
gRPC/Service/obj
gRPC/Service/.vscode
.DS_Store

